extends layout

block content
  section#download.download.bg-primary.text-center
    .container(style="background-image:url('/images/image2.jpeg');")
      .row
        .col-md-8.mx-auto(style="margin-top:165px;margin-bottom:10px")
          h2.section-heading Découvrez ce qu'est le Gyroscope!
          p Vous pouvez telecharger un pdf descriptif de notre projet...
      .row
        .col-md-8.mx-auto(style="margin-bottom:50px")
          .badges
            a.badge-link(href='/downloadpdf/download')
              img(src='/images/image4.png', alt='')
